name: windows Flutter CI

on:
  workflow_dispatch:
    inputs:
      platform:
        description: 'Platform to build'
        required: true
        default: 'windows'
        type: choice
        options:
          - windows
          - macos
          - linux
          - android
          - all

jobs:
  run-ci:
    uses: ./.github/workflows/flutter-build.yml
    with:
      upload-artifact: false
